* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 1000px;
  margin: 0 auto;
}

header h1 {
  text-align: center;
  background-color: rgb(144, 36, 21);
  color: antiquewhite;
}

main img {
  display: block;
  margin: 0 auto;
  width: 430px;
  position: relative;
  top: 20px;
}

main #text {
  text-align: center;
  position: relative;
  top: 20px;
}

main h2 {
  color: rgb(144, 36, 21);
}

main p {
  background-color: rgb(144, 36, 21);
  color: antiquewhite;
  padding: 10px;
}

main form input {
  border: 1px solid rgb(144, 36, 21);
  margin: 3px;
  border-radius: 5px;
  width: 200px;
  padding: 5px;
  text-align: center;
}

main form input[type="submit"] {
  padding: 5px;
  width: 100px;
  background-color: rgb(199, 148, 148);
  color: black;
}

main form input[type="submit"]:hover {
  background-color: rgb(130, 18, 18);
  color: white;
}

footer p {
  background-color: rgb(144, 36, 21);
  color: white;
  padding: 5px;
  position: relative;
  top: 30px;
}
